__*__

# Ignore virtual environment
.venv

# Ignore IDE settings
.vscode

# Ignore credentials file
cred.yml

# Ignore test/live files
test*.txt
live*.txt
*.log
*.json

# Ignore special files
_*.txt

# Ignore bash scripts
*.sh
creds.yml
config.yml
config.yml

logs/* export-ignore
logs/*/* export-ignore
tickers/tickers.txt

# Ignore testing
*1T*.txt
*OneMin*.txt
web*.txt 
logs/20220205_12_37_50S/WebSocket.txt
signals/jimbot_pause.pause
auto_coins_binance_usdt.txt
coins_binance_usdt.txt
tickers/coins_binance_usdt.txt
*.buy
jimbot-signal_tester.py
test.expr
coin_selection.csv
tickers.txt.old
tickers.txt
coin_selector.py
tickers.txt
