__*__

# Ignore virtual environment
.venv

# Ignore IDE settings
.vscode

# Ignore credentials file
cred.yml

# Ignore test/live files
test*.txt
live*.txt
*.log
*.json

# Ignore special files
_*.txt

# Ignore bash scripts
*.sh
creds.yml
config.yml
config.yml

logs/* export-ignore
logs/*/* export-ignore
logs/20220109_19_23/tickers.txt
logs/20220109_19_29/tickers.txt
logs/20220109_20_20/signalsell_tickers.txt
logs/20220109_20_20/tickers.txt
logs/20220109_22_56/signalsell_tickers.txt
logs/20220109_22_56/tickers.txt
logs/20220109_22_59/signalsell_tickers.txt
logs/20220109_22_59/tickers.txt
logs/20220109_23_02/signalsell_tickers.txt
tickers/tickers.txt
logs/20220109_23_02/tickers.txt
tickers/tickers.txt
